<%= form_with(model: column, local: true) do |form| %>
  <% if column.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(column.errors.count, "error") %> prohibited this column from being saved:</h2>

      <ul>
      <% column.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :BatteryId %>
    <%= form.text_field :BatteryId %>
  </div>

  <div class="field">
    <%= form.label :Type %>
    <%= form.text_field :Type %>
  </div>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :Nombre %>
  </div>

  <div class="field">
    <%= form.label :Statut %>
    <%= form.text_field :Statut %>
  </div>

  <div class="field">
    <%= form.label :Information %>
    <%= form.text_field :Information %>
  </div>

  <div class="field">
    <%= form.label :Notes %>
    <%= form.text_field :Notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
