<p id="notice"><%= notice %></p>

<p>
  <strong>Batteryid:</strong>
  <%= @column.BatteryId %>
</p>

<p>
  <strong>Type:</strong>
  <%= @column.Type %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @column.Nombre %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @column.Statut %>
</p>

<p>
  <strong>Information:</strong>
  <%= @column.Information %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @column.Notes %>
</p>

<%= link_to 'Edit', edit_column_path(@column) %> |
<%= link_to 'Back', columns_path %>
